<div class="row center-align">
    <h1>Order your burger now!</h1>
   
</div>

<div class="row center-align">
    <form class="col s12 orderBurger-form">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix blue-text text-darken-4">local_dining</i>
                <input id="burger" type="text"></input>
                <label for="burger">Burger Name</label>
            </div>
            <button class="waves-effect waves-gray btn gray darken-4" type="submit" name="action" id="submitBtn">
                <i class="material-icons left">send</i>Submit</button>
        </div>
    </form>
</div>

<div class="row center-align" id="listDiv">
    <div class="col s12 m6">
        <div class="row center-align">
            <h4>Ordered Burgers</h4>
        </div>
        <div class="row">
            <ol id="orderlist">
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}

                    <button class="waves-effect waves-orange btn-small blue darken-4 devourBtn"
                        data-burgerid="{{id}}">
                        choose it!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>

    </div>

    <div class="col s12 m6">
        <div class="row center-align">
            <h4>Devoured Burgers</h4>
            <a class="waves-effect waves-blue btn blue accent-4" id="clear"><i class="material-icons left">clear</i>clear
                all</a>
        </div>
        <div class="row">
            <ol id="devouredlist">
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}<i class="material-icons right">done</i>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>